<title>{{ .Title }} &vert; Hall 3</title>
{{ if .Params.metaDescription }}
  <meta name="description" content="{{ .Params.metaDescription }}" />
{{ else }}
  <meta
    name="description"
    content="The official website for Hall of Residence 3, Nanyang Technological University, Singapore. Get to know about Hall 3 and our various committees, sports teams, recreational teams and cultural groups!"
  />
{{ end }}
{{ if .Params.metaTags }}
  <meta
    name="keywords"
    content="NTU, HALL 3, NANYANG, TECHNOLOGICAL, UNIVERSITY, HALL, RESIDENCE, 3, THREE, NTU On-Campus Housing, Nanyang Walk Residence, Student Living NTU, NTU Dormitory, {{ .Params.metaTags }}"
  />
{{ else }}
  <meta
    name="keywords"
    content="NTU, HALL 3, NANYANG, TECHNOLOGICAL, UNIVERSITY, HALL, RESIDENCE, 3, THREE, NTU On-Campus Housing, Nanyang Walk Residence, Student Living NTU, NTU Dormitory"
  />
{{ end }}
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://hall3.netlify.app/" />
<meta property="og:title" content="{{ .Title }} | Hall 3" />
{{ if .Params.metaDescription }}
  <meta property="og:description" content="{{ .Params.metaDescription }}" />
{{ else }}
  <meta
    property="og:description"
    content="The official website for Hall of Residence 3, Nanyang Technologcial University, Singapore. Get to know about Hall 3 and our various committees, sports teams, recreational teams and cultural groups!"
  />
{{ end }}
{{ if .Params.metaImage }}
  <meta
    property="og:image"
    content="{{ "images/meta/" | relURL }}{{ .Params.metaImage }}"
  />
{{ else }}
  <meta
    property="og:image"
    content="{{ "images/meta/meta_home_page.png" | relURL }}"
  />
{{ end }}


<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://hall3.netlify.app/" />
{{ if .Params.metaDescription }}
  <meta
    property="twitter:description"
    content="{{ .Params.metaDescription }}"
  />
{{ else }}
  <meta
    property="twitter:description"
    content="The official website for Hall of Residence 3, Nanyang Technological University, Singapore. Get to know about Hall 3 and our various committees, sports teams, recreational teams and cultural groups!"
  />
{{ end }}
<meta property="twitter:title" content="{{ .Title }} | Hall 3" />
{{ if .Params.metaImage }}
  <meta
    property="twitter:image"
    content="{{ "images/meta/" | relURL }}{{ .Params.metaImage }}"
  />
{{ else }}
  <meta
    property="twitter:image"
    content="{{ "images/meta/meta_home_page.png" | relURL }}"
  />
{{ end }}


<link
  rel="icon"
  href="{{ "icons/favicon.svg" | relURL }}"
  type="image/svg+xml"
/>
<link
  rel="shortcut icon"
  href="{{ "icons/favicon.svg" | relURL }}"
  type="image/svg+xml"
/>

<meta
  name="google-site-verification"
  content="PQUwGTShepzZFnn7AfDSxiIPhDgKclvd7FUbcOTUka4"
/>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap"
  rel="stylesheet"
/>

<!-- UIkit CSS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/css/uikit.min.css"
/>

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit-icons.min.js"></script>

<!-- General Styles Stylesheet -->
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />

<!-- Conditionally include page-specific CSS -->
{{ with .Params.css }}
  {{ range . }}
    <link rel="stylesheet" href="{{ . | relURL }}" />
  {{ end }}
{{ end }}
