{{ define "main" }}
  <article role="article">
    <section>
      <div class="uk-container">
        <div uk-grid>
          <div class="uk-width-1-2@l">
            <div class="uk-flex uk-flex-center uk-flex-column uk-height-1-1">
              <h1
                uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 60"
              >
                {{ .Title }}
              </h1>
              <p
                uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 100"
                class="uk-text-justify uk-margin-medium-top"
              >
                {{ .Description | safeHTML }}
              </p>
            </div>
          </div>
          <div class="uk-width-1-2@l">
            <!-- Dynamically load the title, caption and images -->
            {{ $baseFileName := .File.BaseFileName }}
            {{ $normalizedPath := replace .File.Path "\\" "/" }} <!-- Normalize path -->
            {{ $sections := split $normalizedPath "/" }}

            <!-- Get the base file name of the current file e.g. badminton -->
            {{ $baseCategory := index $sections 0 }}
            <!-- Get the category under hall-olympiad e.g. sports, recreational or cultural -->
            {{ $subCategory := index $sections 1 }}

            {{ $extensions := slice "jpg" "JPG" "png" "PNG" }}
            {{ $imgPath := "" }}
            {{ $imgSrc := "" }}
            {{ $prefix := "static/" }}

            {{ range $extensions }}
              {{ $path := printf "static/images/%s/%s/%s/thumbnail.%s" $baseCategory $subCategory $baseFileName . }}
              {{ if and (eq $imgPath "") (fileExists $path) }}
                {{ $imgPath = $path }}
                {{ $imgSrc = substr $imgPath (len $prefix) }}
              {{ end }}
            {{ end }}

            {{ if $imgSrc }}
              <div
                uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 160"
                class="uk-flex uk-flex-center uk-flex-column uk-height-1-1"
              >
                <img src="{{ $imgSrc | relURL }}" alt="Thumbnail" />
              </div>
            {{ else }}
              <div class="uk-flex uk-flex-center uk-flex-column uk-height-1-1">
                <p>No thumbnail available.</p>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="uk-container">{{ .Content }}</div>
    </section>
    <section>
      <div
        class="uk-container uk-margin-medium-top"
        uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 160"
      >
        <h2 class="uk-text-center">Gallery</h2>
        <div
          class="uk-child-width-1-3@l uk-child-width-1-2@s uk-margin-small-top"
          uk-grid
          uk-lightbox="animation: slide"
        >
          {{ $themeStaticDir := "themes/hall-3/static" }}
          {{ $imageDir := printf "%s/images/%s/%s/%s"   $themeStaticDir $baseCategory $subCategory $baseFileName }}
          {{ $images := readDir $imageDir }}
          {{ if $images }}
            {{ range $images }}
              {{ $imgName := .Name }}
              {{ if not (or (eq $imgName "thumbnail.jpg") (eq $imgName "thumbnail.JPG") (eq $imgName "thumbnail.png") (eq $imgName "thumbnail.PNG")) }}
                {{ $imgPath := printf "images/%s/%s/%s/%s" $baseCategory $subCategory $baseFileName $imgName }}
                <div>
                  <a class="uk-inline" href="{{ $imgPath | relURL }}">
                    <img src="{{ $imgPath | relURL }}" alt="{{ $imgName }}" />
                  </a>
                </div>
              {{ end }}
            {{ end }}
          {{ else }}
            <p>No images found in {{ $imageDir }}</p>
          {{ end }}
        </div>
      </div>
    </section>
  </article>
{{ end }}
