<article>
  <header id="hero">
    <div class="uk-container">
      <h1 class="page-title uk-text-center">Hall Council</h1>
      <div class="uk-flex uk-flex-center">
        <div class="uk-width-1-2@m uk-margin-small-top uk-text-justify">
          <p>
            Consisting of 12 portfolios, Hall Council is responsible for the
            organisation and facilitation of hall events and activities which
            includes: sports, recreational and cultural.
            <br />
            <br />
            The Hall Council has an important role of bonding the hall residents
            together through events and promoting academic, social, cultural,
            sporting and recreational activities in hall. The Hall Council will
            also create and develop a sense of identity and belonging to Hall 3
            for the residents, through various events every year.
          </p>
        </div>
      </div>
      <div
        class="uk-flex uk-flex-center uk-flex-column uk-text-center uk-margin-medium-top"
        uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 100"
      >
        <h2>
          Current governing student body:<br /><strong class="section-heading"
            >41st Hall Council</strong
          >
        </h2>
      </div>
    </div>
  </header>
  <section id="hall-council-images">
    <div class="uk-container">
      <div
        class="uk-margin-medium-top"
        uk-lightbox
        uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 100"
      >
        <a
          href="{{ "images/committee/hall-council/councils/41st_hall_council.png" | relURL }}"
        >
          <img
            src="{{ "images/committee/hall-council/councils/41st_hall_council.png" | relURL }}"
            alt="41st Hall Council"
          />
        </a>
      </div>

      <h2 class="uk-text-center uk-margin-medium-top">Past Councils</h2>
      <div
        class="past-councils uk-grid-small uk-grid-match"
        uk-grid
        uk-lightbox="animation: slide"
      >
        <div class="uk-width-1-3@m">
          <a
            href="{{ "images/committee/hall-council/councils/40th_hall_council.png" | relURL }}"
          >
            <img
              width="100%"
              src="{{ "images/committee/hall-council/councils/40th_hall_council.png" | relURL }}"
              alt="40th Hall Council"
            />
          </a>
        </div>

        <div class="uk-width-1-3@m">
          <a
            href="{{ "images/committee/hall-council/councils/39th_hall_council.png" | relURL }}"
          >
            <img
              width="100%"
              src="{{ "images/committee/hall-council/councils/39th_hall_council.png" | relURL }}"
              alt="39th Hall Council"
            />
          </a>
        </div>

        <div class="uk-width-1-3@m">
          <a
            href="{{ "images/committee/hall-council/councils/38th_hall_council.jpg" | relURL }}"
          >
            <img
              width="100%"
              src="{{ "images/committee/hall-council/councils/38th_hall_council.jpg" | relURL }}"
              alt="38th Hall Council"
            />
          </a>
        </div>

        <div class="uk-width-1-3@m">
          <a
            href="{{ "images/committee/hall-council/councils/37th_hall_council.jpg" | relURL }}"
          >
            <img
              width="100%"
              src="{{ "images/committee/hall-council/councils/37th_hall_council.jpg" | relURL }}"
              alt="37th Hall Council"
            />
          </a>
        </div>
      </div>
    </div>
  </section>
</article>
