<article>
    <section id="hero">
        <div class="uk-container">
            <div class="uk-text-center">
                <h1 class="page-title">Hall Council</h1>
                <div class="uk-flex uk-flex-center uk-flex-column">
                    <!-- LEFT OFF HERE: Continue doing up the markup code for this page -->
                     <!-- TODO: Get the images of old hall council banners -->
                    <p class="uk-text-justify">Consisting of 12 portfolios, Hall Council is responsible for the organisation and facilitation of hall events and activities which includes: sports, recreational  and cultural. The Hall Council has an important role of bonding the hall residents together through events and promoting  academic, social, cultural, sporting and recreational activities in hall. The Hall Council will also create and develop a sense of identity and belonging to Hall 3 for the residents, through various events every year.</p>
    
                    <p>The 41st Hall Council is the current governing student of NTU Hall of Residence 3 for AY2023/24</p>
                </div>
            </div>
        </div>
    </section>
</article>