/* ─── Biggest Annual Event Section Styling ───────────────────────────────── */
#biggest-annual-event h2 {
  font-size: 20px;
}

#biggest-annual-event h3 {
  font-size: 116px;
  line-height: 104px;
}

/* ─── Timeline Styling ───────────────────────────────────────────────────── */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px; /* TODO: Figure out if this line is necessary for the mobile design */
  margin: 0 auto;
}

.start-end-text {
  text-align: center;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--dark-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.event {
  position: relative;
  width: 100%;
}

/* The circles on the timeline */
.event-circle::after,
.event::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--dark-color);
}

.event::after {
  top: 0;
  right: calc(50% - 15px);
}

/* The actual content */
.content {
  position: relative;
  display: inline-block;
  min-height: 420px;
  width: 50%;
}

.content h3 {
  font-size: 1.8rem;
}

.content p {
  text-align: justify;
}

.mobile-content {
  display: none;
}

/* Event content that's on the left side */
.content.left {
  left: 0;
}

/* Event content that's on the right side */
.content.right {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
}

.content div {
  padding: 15px 80px;
}

/* Ending event-circle positioning */
.event-circle::after {
  left: calc(50% - 15px);
}

@media (max-width: 960px) {
  #biggest-annual-event h2,
  #biggest-annual-event h3 {
    text-align: center;
  }

  .content {
    min-height: 580px;
  }

  .content div {
    padding: 15px 40px;
  }

  .has-lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Mobile Stylings */
@media (max-width: 640px) {
  /* Place the timeline to the left */
  .timeline::after {
    left: 24px;
  }

  /* Full-width containers */
  .event {
    padding-left: 9px;
    padding-right: 0;
  }

  .event::after {
    top: 0;
    right: auto;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .content.left {
    left: 18px;
  }

  .content {
    display: none;
  }

  .mobile-content {
    display: inline-block;
    padding-left: 40px;
    padding-top: 40px;
  }

  .event-circle::after {
    position: absolute;
    left: 24px;
  }

  .start-end-text {
    text-align: left;
  }

  .mobile-padding {
    padding-left: 7px;
  }
}
