
<article>
  <section id="about-hero" class="hero-section">
    <div class="uk-container">
      <div class="uk-flex uk-flex-center">
        <img
          src="{{ "images/page_hero_images/Hall_3_image.png" | relURL }}"
          alt="A faint image of Hall 3 Block C."
          uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: false; delay: 30"
        />
      </div>
      <div
        class="section-content uk-text-center"
        uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: false; delay: 180"
      >
        <h1 class="page-title">
           {{ .Page.Params.aboutHero.heading }}
        </h1>
        <p>
           {{ .Page.Params.aboutHero.content | safeHTML }}
        </p>
        <form id="rental-rates-form">
          <button class="button" type="submit">
            For info on rental rates,<br />click here
          </button>
        </form>
        <p>Scroll down to find out more!</p>
      </div>
    </div>
  </section>
</article>

<article>
  <section id="facilities-info" class="uk-margin-medium-top">
    <div class="uk-container uk-flex uk-flex-center">
      <ul id="facility-info-items" class="uk-flex uk-flex-center">
        <li
          class="facility-item uk-flex uk-flex-center uk-flex-middle uk-flex-around"
          uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 60"
        >
          <img
            src="{{ "icons/facility_info_icons/aircon_rooms.svg" | relURL }}"
            alt="Air-conditioned rooms icon"
          />
          <div>Air-Conditioned<br />Rooms</div>
        </li>
        <li
          class="facility-item uk-flex uk-flex-center uk-flex-middle uk-flex-around"
          uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false"
        >
          <img
            src="{{ "icons/facility_info_icons/single_bed.svg" | relURL }}"
            alt="Single rooms icon"
          />
          <div><strong>124</strong><br />Single Rooms</div>
        </li>
        <li
          class="facility-item uk-flex uk-flex-center uk-flex-middle uk-flex-around"
          uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 95"
        >
          <img
            src="{{ "icons/facility_info_icons/double_beds.svg" | relURL }}"
            alt="Double rooms icon"
          />
          <div><strong>246</strong><br />Double Rooms</div>
        </li>
        <li
          class="facility-item uk-flex uk-flex-center uk-flex-middle uk-flex-around"
          uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 100"
        >
          <img
            src="{{ "icons/facility_info_icons/gym.svg" | relURL }}"
            alt="Gym icon"
          />
          <div>Gym for all<br />Residents</div>
        </li>
        <li
          class="facility-item uk-flex uk-flex-center uk-flex-middle uk-flex-around"
          uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 125"
        >
          <img
            src="{{ "icons/facility_info_icons/canteens.svg" | relURL }}"
            alt="Canteens icon"
          />
          <div>Canteens<br />Nearby</div>
        </li>
      </ul>
    </div>
  </section>
</article>

<article>
  <section id="facilities-details" class="uk-margin-large-top">
    <div class="uk-container">
      <h2
        class="section-heading"
        uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false"
      >
        Facilities
      </h2>
      <div class="uk-flex uk-flex-center">
        <p
          class="uk-text-justify uk-width-1-2@l uk-margin-medium-top"
          uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false;"
        >
          Explore the <strong>wide array</strong> of
          <strong>modern amenities</strong> and
          <strong>shared spaces</strong> that Hall 3 offers for an enhanced
          living experience.
        </p>
      </div>

      <div class="facility-accordions uk-margin-medium-top">
        <div
          class="vertical-accordion"
          uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false"
        >
          <div class="accordion-item">
            <div class="visible-content">
              <h3>
                01.
                <hr />
                <div>Accommodation</div>
              </h3>
            </div>

            <div class="hidden-content">
              <h3>01. Accommodation</h3>
              <hr />
              <div class="uk-grid">
                <div class="uk-width-1-2">
                  <p>370 Fully Air-Conditioned rooms</p>
                  <ul>
                    <li>124 Single rooms</li>
                    <li>246 Double rooms</li>
                  </ul>
                  <p>
                    Each room is furnished with cupboards, shelves, desk lights
                    & ceiling fans.
                  </p>
                  <p>
                    Power sockets and internet access &#40;via ethernet
                    cable&#41; available.
                  </p>
                  <p>Fridge may be installed at a fee.</p>
                </div>

                <div class="uk-width-1-2">
                  <p>Communal toilets at each level</p>
                  <p>
                    Gender segregated by levels, guys will generally take the
                    lower levels of each block.
                  </p>
                  <p>All levels are serviced by lifts.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="vertical-accordion"
          uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 100"
        >
          <div class="accordion-item">
            <div id="common-facilities" class="visible-content">
              <h3>
                02.
                <hr />
                <div>Common Facilities</div>
              </h3>
            </div>

            <div class="hidden-content">
              <h3>02. Common Facilities</h3>
              <hr />

              <div class="uk-grid">
                <div class="uk-width-1-1">
                  <p>Residential Blocks&colon;</p>
                  <ul>
                    <li>Kitchenette &amp; Pantry</li>
                    <li>Laundry Room</li>
                    <li>TV Lounge</li>
                  </ul>

                  <p>Communal Block&colon;</p>
                  <ul>
                    <li>Reading/Study Room</li>
                    <li>Function &#40;Communal&#41; Hall</li>
                    <li>Music Room</li>
                    <li>Dance Studio</li>
                    <li>Seminar Room</li>
                    <li>Cultural &amp; Recreation rooms</li>
                    <li>Exercise Gym</li>
                    <li>Mailboxes</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="vertical-accordion"
          uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 125"
        >
          <div class="accordion-item">
            <div class="visible-content">
              <h3>
                03.
                <hr />
                <div>Miscellaneous</div>
              </h3>
            </div>

            <div class="hidden-content">
              <h3>03. Miscellaneous</h3>
              <hr />

              <div class="uk-grid">
                <div class="uk-width-1-1">
                  <p>Hall 3 General Office</p>
                  <ul>
                    <li>For setting of administrative and logistic affairs</li>
                    <li>
                      Open from Mondays to Fridays, 8&colon;30am - 5&colon;30pm
                    </li>
                  </ul>

                  <p>Security Counter</p>
                  <ul>
                    <li>Campus Security is available all day</li>
                    <li>6790 4777 &#40;24hrs hotline&#41;</li>
                  </ul>

                  <p>Hall Council Room</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="vertical-accordion"
          uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 150"
        >
          <div class="accordion-item">
            <div id="food-accordion" class="visible-content">
              <h3>
                04.
                <hr />
                <div>Food/Canteens</div>
              </h3>
            </div>

            <div class="hidden-content">
              <h3>04. Food/Canteens</h3>
              <hr />

              <div class="uk-grid">
                <div class="uk-width-1-2">
                  <p>Here's a list of canteens near Hall 3&colon;</p>
                  <ul>
                    <li>Canteen 16</li>
                    <li>13 Bites Bistro &#40;Hall 13&#41;</li>
                    <li>Canteen 14</li>
                    <li>NIE Canteen</li>
                  </ul>

                  <p>Some North Spine food outlets&colon;</p>
                  <ul>
                    <li>Koufu</li>
                    <li>McDonald&apos;s</li>
                    <li>Subway</li>
                    <li>Popeye&apos;s</li>
                    <li>Starbucks Coffee</li>
                  </ul>
                </div>

                <div class="uk-width-1-2">
                  <p>
                    For more detailed information,<br />
                    click
                    <a
                      href="https://www.ntu.edu.sg/life-at-ntu/leisure-and-dining/general-directory?locationTypes=all&locationCategories=all&page=1#Content_C001_Col00"
                      target="_blank"
                      >here.</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="facility-accordions-mobile uk-hidden@l">
        <div class="accordions uk-margin-small-top">
          <div class="faq-accordion js-accordion">
            <div class="faq-accordion__item js-accordion-item">
              <div class="faq-accordion-header js-accordion-header">
                <h3>01. Accomodation</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>370 Fully Air-Conditioned rooms</p>
                  <ul>
                    <li>124 Single rooms</li>
                    <li>246 Double rooms</li>
                  </ul>
                  <p>
                    Each room is furnished with cupboards, shelves, desk lights
                    & ceiling fans.
                  </p>
                  <br />
                  <p>
                    Power sockets and internet access &#40;via ethernet
                    cable&#41; available.
                  </p>
                  <p>Fridge may be installed at a fee.</p>
                  <br />
                  <p>Communal toilets at each level</p>
                  <br />
                  <p>
                    Gender segregated by levels, guys will generally take the
                    lower levels of each block.
                  </p>
                  <p>All levels are serviced by lifts.</p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>02. Common Facilities</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>Residential Blocks&colon;</p>
                  <ul>
                    <li>Kitchenette &amp; Pantry</li>
                    <li>Laundry Room</li>
                    <li>TV Lounge</li>
                  </ul>

                  <p>Communal Block&colon;</p>
                  <ul>
                    <li>Reading/Study Room</li>
                    <li>Function &#40;Communal&#41; Hall</li>
                    <li>Music Room</li>
                    <li>Dance Studio</li>
                    <li>Seminar Room</li>
                    <li>Cultural &amp; Recreation rooms</li>
                    <li>Exercise Gym</li>
                    <li>Mailboxes</li>
                  </ul>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>03. Miscellaneous</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>Hall 3 General Office</p>
                  <ul>
                    <li>For setting of administrative and logistic affairs</li>
                    <li>
                      Open from Mondays to Fridays, 8&colon;30am - 5&colon;30pm
                    </li>
                  </ul>

                  <p>Security Counter</p>
                  <ul>
                    <li>Campus Security is available all day</li>
                    <li>6790 4777 &#40;24hrs hotline&#41;</li>
                  </ul>

                  <p>Hall Council Room</p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>04. Food/Canteens</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>Here's a list of canteens near Hall 3&colon;</p>
                  <ul>
                    <li>Canteen 16</li>
                    <li>13 Bites Bistro &#40;Hall 13&#41;</li>
                    <li>Canteen 14</li>
                    <li>NIE Canteen</li>
                  </ul>

                  <p>Some North Spine food outlets&colon;</p>
                  <ul>
                    <li>Koufu</li>
                    <li>McDonald&apos;s</li>
                    <li>Subway</li>
                    <li>Popeye&apos;s</li>
                    <li>Starbucks Coffee</li>
                  </ul>

                  <p>
                    For more detailed information,<br />
                    click
                    <a
                      href="https://www.ntu.edu.sg/life-at-ntu/leisure-and-dining/general-directory?locationTypes=all&locationCategories=all&page=1#Content_C001_Col00"
                      target="_blank"
                      >here.</a
                    >
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->
          </div>
          <!-- end of accordions -->
        </div>
      </div>
    </div>
  </section>
</article>

<article>
  <section id="brief-history" class="uk-margin-large-top">
    <div class="uk-container">
      <div class="uk-grid">
        <div
          class="uk-width-1-2@s uk-flex uk-flex-middle"
          uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false"
        >
          <img
            src="{{ "images/about_page/brief_history.jpg" | relURL }}"
            alt="Yellow Tee Day Image"
            class="shadow-image"
          />
        </div>
        <div class="uk-width-1-2@s uk-flex uk-flex-middle">
          <div>
            <div class="uk-text-right">
              <h2
                class="section-heading uk-text-right uk-margin-medium-top"
                uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false"
              >
               {{ .Page.Params.briefHistory.heading }}
              </h2>
            </div>
            <div
              class="uk-margin-medium-top"
              uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 100"
            >
              <p>
              {{ .Page.Params.briefHistory.content | safeHTML }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<article>
  <section id="crest-and-logo" class="uk-margin-large-top">
    <div class="uk-container">
      <div class="uk-grid">
        <div class="uk-width-1-2@s uk-flex uk-flex-middle">
          <div>
            <h2
              class="section-heading"
              uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false"
            >
              Crest and Logo
            </h2>
            <p
              class="uk-margin-medium-top"
              uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 100"
            >
              The crest features an armored winged lion, combining the
              attributes of a lion and an eagle to symbolize the strength,
              courage, and wisdom of Hall 3's residents.
            </p>

            <p
              uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 100"
            >
              The lion's design highlights its power, speed, cunning, and
              wisdom, while the eagle's wings represent courage.
            </p>

            <p
              uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 120"
            >
              The armor is adorned with three octagons and three vertical
              stripes in 'black-blue-black,' representing the three blocks of
              the Hall and its colors, respectively, signifying the armor as a
              protective shield for the Hall.
            </p>
          </div>
        </div>
        <div class="uk-width-1-2@s">
          <div
            uk-lightbox
            uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false; delay: 100"
            class="uk-height-1-1"
          >
            <a
              class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1"
              href="{{ "images/h3_remastered_dp.png" | relURL }}"
              data-alt="Image"
            >
              <img
                src="{{ "images/h3_remastered_dp.png" | relURL }}"
                alt="Hall 3 Logo Colored"
                class="modern-logo"
              />
            </a>
          </div>
        </div>
      </div>

      <h4 class="uk-text-center">Check out the old logos!</h4>
      <div
        class="uk-position-relative uk-margin-small-top"
        uk-slider="finite: true"
      >
        <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-4@m">
          <li class="uk-flex uk-flex-center uk-flex-middle">
            <div uk-lightbox>
              <a
                href="{{ "images/about_page/old_Logos/AY_16_17.jpg" | relURL }}"
                data-caption="Academic Year 2016-2017"
              >
                <img
                  src="{{ "images/about_page/old_Logos/AY_16_17.jpg" | relURL }}"
                  alt="Hall 3 Logo AY 16/17"
                />
              </a>
            </div>
          </li>

          <li class="uk-flex uk-flex-center uk-flex-middle">
            <div uk-lightbox>
              <a
                href="{{ "images/about_page/old_Logos/AY_17_18.jpeg" | relURL }}"
                data-caption="Academic Year 2017-2018"
              >
                <img
                  src="{{ "images/about_page/old_Logos/AY_17_18.jpeg" | relURL }}"
                  alt="Hall 3 Logo AY 17/18"
                />
              </a>
            </div>
          </li>

          <li class="uk-flex uk-flex-center uk-flex-middle">
            <div uk-lightbox>
              <a
                href="{{ "images/about_page/old_Logos/AY_18_19.jpeg" | relURL }}"
                data-caption="Academic Year 2018-2019"
              >
                <img
                  src="{{ "images/about_page/old_Logos/AY_18_19.jpeg" | relURL }}"
                  alt="Hall 3 Logo AY 18/19"
                />
              </a>
            </div>
          </li>

          <li class="uk-flex uk-flex-center uk-flex-middle">
            <div uk-lightbox>
              <a
                href="{{ "images/about_page/old_Logos/AY_19_20.jpeg" | relURL }}"
                data-caption="Academic Year 2019-2020"
              >
                <img
                  src="{{ "images/about_page/old_Logos/AY_19_20.jpeg" | relURL }}"
                  alt="Hall 3 Logo AY 19/20"
                />
              </a>
            </div>
          </li>

          <li class="uk-flex uk-flex-center uk-flex-middle">
            <div uk-lightbox>
              <a
                href="{{ "images/about_page/old_Logos/Recent_logo.png" | relURL }}"
                data-caption="The most recently used logo used from 2020 - 2022"
              >
                <img
                  src="{{ "images/about_page/old_Logos/Recent_logo.png" | relURL }}"
                  alt="Hall 3's Most Recent Logo"
                />
              </a>
            </div>
          </li>
        </ul>

        <ul class="uk-slider-nav uk-dotnav uk-flex uk-flex-center"></ul>
        <a
          class="uk-position-center-left uk-position-small uk-hidden-hover"
          href="#"
          uk-slidenav-previous
          uk-slider-item="previous"
          z
        ></a>
        <a
          class="uk-position-center-right uk-position-small uk-hidden-hover"
          href="#"
          uk-slidenav-next
          uk-slider-item="next"
        ></a>
      </div>
    </div>
  </section>
</article>
