<article>
    <section id="events-hero" class="hero-section">
      <div class="uk-container">
        <div class="section-content uk-text-center">
          <h1 class="page-title">Events</h1>
          <div class="uk-flex uk-flex-center">
            <div class="uk-width-1-2 uk-margin-small-top">
              <p class="uk-text-center">
                Residing in Hall 3 entails you to a variety of events,
                ranging from Freshmen Orientation to Halloween, there is no
                shortage of an eventful university life!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="biggest-annual-event" class="uk-margin-large-top">
      <div class="uk-container">
        <div uk-grid>
          <div class="uk-width-3-5">
            <div class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1">
              <img
                src="{{"images/events_page/yellow_tee_day_image.jpg" | relURL}}"
                alt="Yellow Tee Day Image"
              />
            </div>
          </div>
          <div class="uk-width-2-5">
            <h2>The biggest annual event:</h2>
            <h3 class="uk-margin-medium-top">Yellow Tee Day</h3>
            <p class="uk-text-justify uk-margin-medium-top">
              The biggest Hall 3 event every year! Celebrate the anniversary
              of Hall 3 by partaking in a lineup of activities.
            </p>
            <br />
            <p class="uk-text-justify">
              Usually taking place near the end of every academic year,
              celebrate everything Hall 3 by taking part in carnival games,
              and enjoy the free food. You also stand a chance to win lucky
              draw prizes!
            </p>
          </div>
        </div>
      </div>
    </section>
  </article>

  <article>
    <section id="events-timeline-intro" class="uk-margin-large-top">
      <div class="uk-container">
        <h2 class="uk-text-center">Timeline of Events</h2>
        <div class="uk-text-center uk-flex uk-flex-center">
          <p class="uk-width-1-3">
            Scroll through the timeline to get an idea of what events you
            can expect in Hall 3 every year!
          </p>
        </div>
      </div>
    </section>

    <section id="events-timeline" class="uk-margin-large-top">
      <div class="uk-container">
        <p class="uk-text-center@m uk-text-bold">START</p>
        <div class="timeline uk-margin-small-top">
          <div class="event">
            <div class="content left">
              <div>
                <img
                  src="{{"images/events_page/event_images/fop_event.jpg" | relURL}}"
                  alt="FOP event image"
                />
              </div>
            </div>

            <div class="content right">
              <div>
                <h3>Freshmen Orientation Programme</h3>
                <p class="uk-margin-small-top">
                  Freshmen Orientation Programme (FOP) is your very first
                  taste of the much anticipated “Hall life”.
                </p>
                <br />
                <p>
                  Prepare yourselves for 3 days of thrilling activities and
                  experiences that you will not forget! The orientation aims
                  to ease your transition into university life and ensure
                  you have an unforgettable time during your stay in Hall 3.
                </p>
              </div>
            </div>
          </div>
          <div class="event uk-margin-large-top">
            <div class="content left">
              <div>
                <h3>Hall 3 Open House</h3>
                <p class="uk-margin-small-top">
                  Come and see what Hall 3 has to offer you! From the
                  various sports, recreational game and cultural group CCAs
                  there are also clubs like ENC and FOP for you to learn
                  more about! Not to mention the JCRC if you so feel
                  inclined to serve the hall!
                </p>
                <br />
                <p>
                  There will also be tryouts so come prepared! Never try
                  never know right?!
                </p>
              </div>
            </div>

            <div class="content right">
              <div>
                <img
                  src="{{"images/events_page/event_images/hall_3_open_house_event.JPG" | relURL}}"
                  alt="Hall 3 open house event image"
                />
              </div>
            </div>
          </div>

          <div class="event uk-margin-large-top">
            <div class="content left">
              <div>
                <img
                  src="{{"images/events_page/event_images/subcomm_night_event.jpg" | relURL}}"
                  alt="Subcomm Night event image"
                />
              </div>
            </div>

            <div class="content right">
              <div>
                <h3>Subcomm Night</h3>
                <p class="uk-margin-small-top">
                  Want to contribute to the different events and make an
                  impact in the hall? Sign up for one (or more) of the
                  various subcommittees that will be planning exciting
                  events throughout the semester! Get to know more about the
                  different subcomms through the games and sharings prepared
                  by the respective secretaries!
                </p>
              </div>
            </div>
          </div>
          <div class="event uk-margin-large-top">
            <div class="content left">
              <div>
                <h3>Dinner &amp; Dance</h3>
                <p class="uk-margin-small-top">
                  Dinner and Dance, otherwise known as D&D, is an annual
                  event that takes place in Hall 3 after every FOP. Located
                  at different locations every year, a night of festivities
                  will ensure that all hall residents will have a good time.
                  Not only is there food, but there is also entertainment in
                  the form of performances from the hall's own residents,
                  and sometimes even outside entertainment!
                </p>
                <br />
                <p>
                  Every D&D is also accompanied with a Hall Pageant, whereby
                  at the end of the night, a Hall King and Queen will be
                  crowned.
                </p>
              </div>
            </div>

            <div class="content right">
              <div>
                <img
                  src="{{"images/events_page/event_images/dinner_and_dance_event.jpg" | relURL}}"
                  alt="Dinner &amp; Dance event image"
                />
              </div>
            </div>
          </div>

          <div class="event uk-margin-large-top">
            <div class="content left">
              <div>
                <img
                  src="{{"images/events_page/event_images/cultural_night_event.JPG" | relURL}}"
                  alt="Cultural Night event image"
                />
              </div>
            </div>

            <div class="content right">
              <div>
                <h3>Cultural Night</h3>
                <p class="uk-margin-small-top">
                  A night to celebrate our cultural groups, and also a
                  chance for them to show off their skills and hard work!
                  Absolut3, &#40;Dance&#41; Jamband and Vipers
                  &#40;Cheer&#41; are sure to sweep you off your feet and
                  leave you dazzled with their performances! Don't miss out
                  on this incredible night of lights, music, and
                  entertainment!
                </p>
              </div>
            </div>
          </div>
          <div class="event uk-margin-large-top">
            <div class="content left">
              <div>
                <h3>Joint&dash;Hall Halloween</h3>
                <p class="uk-margin-small-top">
                  Joint Hall Halloween allows you to interact with friends
                  from halls 16,12 and 13! So take the chance to step away
                  from the books and connect with friends through the events
                  planned. It&apos;s gonna be a scary night but if you have
                  friends around, there's nothing to be scared of! And of
                  course, don&apos;t forget to dress up! Hearsay there are
                  prizes for the best dressed people at the end of the
                  night!
                </p>
              </div>
            </div>

            <div class="content right">
              <div>
                <img
                  src="{{"images/events_page/event_images/joint_hall_halloween_event.jpg" | relURL}}"
                  alt="Joint&dash;Hall Halloween event image"
                />
              </div>
            </div>
          </div>

          <div class="event uk-margin-large-top">
            <div class="content left">
              <div>
                <img
                  src="{{"images/events_page/event_images/ihg_ihrg_event.JPG" | relURL}}"
                  alt="IHG/IHRG event image"
                />
              </div>
            </div>

            <div class="content right">
              <div>
                <h3>IHG/IHRG</h3>
                <p class="uk-margin-small-top">
                  Every year, NTU organizes the Hall Olympiad- which
                  consists of Inter-Hall games &#40;IHG&#41; and Inter-Hall
                  Recreational games &#40;IHRG&#41;. Here, residents from
                  all 23 halls come together in the spirit of friendly
                  competition. In addition, the HO provides a platform for
                  residents to showcase their talents and to recognize them
                  for all the hard work put in.
                </p>
                <br />
                <p>
                  So, what are you waiting for? Take the chance to represent
                  the hall in a sport or recreational games and soar Hall
                  3&apos;s flag high!
                </p>
              </div>
            </div>
          </div>
          <div class="event uk-margin-large-top">
            <div class="content left">
              <div>
                <h3>Joint&dash;Hall Chinese New Year</h3>
                <p class="uk-margin-small-top">
                  Ring in the new year as the 4 halls gather together for an
                  ultra exciting Joint&dash;Hall Chinese New Year
                  celebration! 🧧🎊 Last year, it featured yummy snacks, fun
                  games, a lucky draw and even a lion &amp; dragon dance
                  performance. Come dressed in traditional CNY outfits or in
                  red with your friends and stay tuned to the end for a
                  massive louuuuuuhei!!
                </p>
              </div>
            </div>

            <div class="content right">
              <div>
                <img
                  src="{{"images/events_page/event_images/joint_chinese_new_year_event.JPG" | relURL}}"
                  alt="Joint-Hall Chinese New Year event image"
                />
              </div>
            </div>
          </div>

          <div class="event uk-margin-large-top">
            <div class="content left">
              <div>
                <img
                  src="{{"images/events_page/event_images/elite_night_cycling_event.jpg" | relURL}}"
                  alt="Elite Night Cycling event image"
                />
              </div>
            </div>

            <div class="content right">
              <div>
                <h3>Elite Night Cycling</h3>
                <p class="uk-margin-small-top">
                  ENC is a annual long distance cycling event held at night!
                  Participants can sign up for a night filled with a lot of
                  cycling and games along the way. Gather your squad and get
                  ready for an exhilarating adventure from late night till
                  the first light of dawn. And not to worry, the event is
                  designed to be novice-friendly, so all participants can
                  enjoy a night of fun under the stars!
                </p>
              </div>
            </div>
          </div>
          <div class="event uk-margin-large-top">
            <div class="content left">
              <div>
                <h3>HOCC</h3>
                <p class="uk-margin-small-top">
                  The Hall Olympiad Closing Ceremony &#40;HOCC&#41; is an
                  annual event held to mark the end of Hall Olympiad for the
                  academic year.
                </p>
                <br />
                <p>
                  HOCC celebrates the achievements of all our recreational
                  games participants and athletes, aptly closing off with
                  the annual dance competition for all our hall dancers. Our
                  dancers never fail to produce a heartfelt and tear-jerking
                  performance and we are incredibly proud of Absolut3 for
                  their time and effort to make this possible!
                </p>
              </div>
            </div>

            <div class="content right">
              <div>
                <img
                  src="{{"images/events_page/event_images/hocc_event.JPG" | relURL}}"
                  alt="HOCC event image"
                />
              </div>
            </div>
          </div>

          <!-- TODO: Consider removing the Past vs Present event if you can't find an appropriate event image in time -->
          <div class="event uk-margin-large-top">
            <div class="content left">
              <div>
                <!-- TODO: Replace the image with an appropriate picture to use if you find one -->
                <img
                  src="{{"images/events_page/event_images/elite_night_cycling_event.jpg" | relURL}}"
                  alt="Past vs Present event image"
                />
              </div>
            </div>

            <div class="content right">
              <div>
                <h3>Past vs Present</h3>
                <p class="uk-margin-small-top">
                  Get geared up to face off with ex-residents alumni of Hall
                  3 in various sports and recreational games and prove that
                  the present is better than the past! It also allows
                  residents (past or present) to bond over the sharing of
                  pointers and competition experience throughout the day!
                </p>
              </div>
            </div>
          </div>
          <div class="event uk-margin-large-top">
            <div class="content left">
              <div>
                <h3>Joint&dash;Hall Iftar Night</h3>
                <p class="uk-margin-small-top">
                  The Hall 3 Iftar Night aims to celebrate diversity and
                  inclusivity through various activities. These include a
                  talk by a Muslim representative on the Muslim journey and
                  Ramadan traditions, such as "buka puasa". Additional
                  activities such as breaking fast together and a video
                  presentation promotes cultural understanding and
                  engagement among residents. The event will also feature
                  diverse cultural foods for attendees to enjoy, allowing
                  them to fully immerse themselves!
                </p>
              </div>
            </div>

            <div class="content right">
              <div>
                <img
                  src="{{"images/events_page/event_images/iftar_night_event.jpg" | relURL}}"
                  alt="Joint&dash;Hall Iftar Night event image"
                />
              </div>
            </div>
          </div>

          <div class="event uk-margin-large-top">
            <div class="content left">
              <div>
                <img
                  src="{{"images/events_page/event_images/yellow_tee_day_event.JPG" | relURL}}"
                  alt="Yellow Tee Day event image"
                />
              </div>
            </div>

            <div class="content right">
              <div>
                <h3>Yellow Tee Day</h3>
                <p class="uk-margin-small-top">
                  Yellow Tee Day, the biggest event of the year, is held to
                  celebrate the hall 3&apos;s birthday as well as to get
                  residents together to enjoy a myriad of mass games and
                  activities. Not to mention the various performances put up
                  by the various cultural groups and a lucky draw at the
                  end! Lastly, not forgetting the iconic hanging of the hall
                  3 shirts over LRA!
                </p>
              </div>
            </div>
          </div>
          <div class="event uk-margin-large-top">
            <div class="content left">
              <div>
                <h3>Hall Appreciation Day</h3>
                <p class="uk-margin-small-top">
                  Hall Appreciation Day (HAD) looks to acknowledge and
                  extend the Hall&apos;s appreciation to residents who
                  contributed greatly towards the hall. Residents who are
                  proficient in sports, recreational games and cultural
                  activities are awarded the Colours, Medals and Cultural
                  awards respectively. Outstanding residents who contribute
                  in multiple areas are awarded the Meritorious award.
                </p>
              </div>
            </div>

            <div class="content right">
              <div>
                <img
                  src="{{"images/events_page/event_images/hall_appreciation_day_event.JPG" | relURL}}"
                  alt="Hall Appreciation Day event image"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="event-circle"></div>
        <p class="uk-text-center@m uk-text-bold uk-margin-medium-top">
          END
        </p>
      </div>
    </section>
  </article>
