<article>
    <section id="questions-hero">
      <div class="uk-container uk-text-center">
        <h1 class="page-title">FAQs</h1>
        <p>Here are some frequently asked questions about Hall 3.</p>
      </div>
    </section>
  </article>

  <article>
    <section id="general-inquiries" class="uk-margin-medium-top" uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: false; delay: 110">
      <div class="uk-container">
        <h2 class="uk-text-center">General Inquiries</h2>
        <div class="general-accordions uk-margin-small-top">
          <div class="faq-accordion js-accordion">
            <div class="faq-accordion__item js-accordion-item">
              <div class="faq-accordion-header js-accordion-header">
                <h3>What is Hall?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    Hall is a place of residence on campus for the students
                    of NTU.
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>How many Halls of Residences are there in NTU?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>There are currently 23 halls.</p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>What are the requirements for applying for a Hall?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    As a freshman, there are no requirements for staying in
                    a hall. However, most freshmen will be given a random
                    hall based on availability.
                    <br />
                    <br />
                    As a senior, there are several ways to obtain a
                    guaranteed place in hall. The most common method is to
                    obtain points. Each hall might have different
                    requisites.
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>How do you apply for a Hall?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    Hall applications are open to all.
                    <br />
                    For freshmen and senior applications alike, click
                    <a
                      href="https://www.ntu.edu.sg/admissions/undergraduate/freshmen/student-housing"
                      target="_blank"
                      title="NTU Hall Applications Page"
                      >here for further details.</a
                    >
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>How much does it cost to stay in Hall?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    All rental fees can be seen
                    <a
                      href="https://www.ntu.edu.sg/life-at-ntu/accommodation/undergraduate-housing/detail/hall-3"
                      target="_blank"
                      title="Hall Rental Fees Details"
                    ></a
                    >here. Rental fees vary from year to year.
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>Can I apply with a roommate?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    Yes. All you need to do is fill in the particulars of
                    your roommate when applying for a hall. If you do not
                    apply with a roommate, one will be randomly assigned to
                    you.
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>Can I apply for a single room?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    Priority is given to seniors, year 2 and above, for the
                    allocation of single rooms.
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->
          </div>
          <!-- end of accordion group -->
        </div>
      </div>
    </section>

    <section id="hall-3-inquiries" class="uk-margin-medium-top">
      <div class="uk-container">
        <h2 class="uk-text-center">Hall 3 Inquiries</h2>
        <div class="general-accordions uk-margin-small-top">
          <div class="faq-accordion js-accordion">
            <div class="faq-accordion__item js-accordion-item">
              <div class="faq-accordion-header js-accordion-header">
                <h3>How do you apply for Hall 3?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    When applying for a hall, make Hall 3 your preferred
                    hall.
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>What are the rental rates for Hall 3?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    You can see Hall 3&apos; rental rates
                    <a
                      href="https://www.ntu.edu.sg/life-at-ntu/accommodation/undergraduate-housing/detail/hall-3"
                      target="_blank"
                      title="Hall 3 Rental Rates Details"
                      >here.</a
                    >
                    The rental fees can vary from year to year.
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>Where is Hall 3 located?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    Hall 3 is located near the academic centre of NTU, next
                    to NIE. We are also situated in a bustling cluster of
                    halls, including Hall 16, Hall 12, and Hall 13.
                    <br />
                    Our address:
                    <a
                      href="https://maps.app.goo.gl/1ekQiZZCi6PepFzU6"
                      target="_blank"
                      title="See NTU on your Map Application"
                      ><em>NTU, 52 Nanyang Walk, Singapore 639928</em></a
                    >
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>Are there any nearby eateries?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    Refer to
                    <a
                      href="{{"about/?action=openFood#facilities-details" | relURL}}"
                      title="About Page"
                      >this section</a
                    >
                    to see the list of eateries nearby Hall 3.
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>What facilities are there in Hall 3?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    You can expect several facilities available during your
                    stay in Hall 3 such as a gym, pantries and a study room.
                    <br />
                    You can refer to
                    <a
                      href="{{"about/?action=openFacilities#facilities-details"  | relURL}}"
                      title="About Page"
                      >this section</a
                    >
                    to see the more details of the facilities available.
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>What are the perks of staying in Hall 3?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    Besides having one of the best and newest residential
                    buildings on campus, we also have a vibrant hall
                    culture! We have many events to celebrate the different
                    aspects of hall &dash; our most famous event being the
                    Yellow Tee Day!
                    <br />
                    <br />
                    You can see the list of events that you can expect to
                    have in a year of staying in Hall 3
                    <a href="{{"events/" | relURL}}" title="Events">on our events page.</a>
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>
                  I have been allocated a place in Hall 3. What&apos;s next?
                </h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    Great! The next best thing to do is to register for Hall
                    FOP! Every year, Hall 3 hosts a Freshmen Orientation
                    Programme to welcome the new batch of freshmen.
                    It&apos;s a good way for freshmen and seniors to get to
                    know each other. It&apos;s a camp that's not to be
                    missed. For more information about FOP, click
                    <a href="{{"poop/" | relURL}}" title="Freshmen Orientation Programme"
                      >here.</a
                    >
                  </p>
                  <!-- TODO: Insert the link for the FOP page to the anchor tag above once you have made it -->
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->

            <div
              class="faq-accordion__item js-accordion-item uk-margin-small-top"
            >
              <div class="faq-accordion-header js-accordion-header">
                <h3>How do I move into Hall?</h3>
              </div>
              <div class="faq-accordion-body js-accordion-body">
                <div class="faq-accordion-body__contents">
                  <p>
                    The check-in days vary from year to year.
                    <br />
                    Keep an eye out for the email from Office Of Campus
                    Housing &#40;OCH&#41; for the check-in details.
                  </p>
                </div>
              </div>
              <!-- end of accordion body -->
            </div>
            <!-- end of accordion item -->
          </div>
          <!-- end of accordions -->
        </div>
      </div>
    </section>
  </article>
