<article>
    <section id="hall-olympiad-hero" class="hero-section">
      <div class="uk-container">
        <div class="section-content uk-text-center">
          <h1 class="page-title">Hall Olympiad</h1>
          <div class="uk-flex uk-flex-center">
            <div class="uk-width-1-2 uk-margin-medium-top">
              <p>
                The <b>Hall Olympiad (HO)</b> is an annual event in NTU,
                where residents from all 23 halls come together in the
                spirit of friendly competition.
              </p>
              <br />
              <p>
                The aim of the HO is not only to bond residents within their
                respective halls, but also across all 23, igniting the NTU
                spirit and forging strong friendships.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="hall-olympiad-intro" class="uk-margin-large-top">
      <div class="uk-container">
        <h2
          class="uk-text-center"
          uk-scrollspy="cls:uk-animation-slide-bottom; repeat: false"
        >
          The HO consists of...
        </h2>
        <div class="uk-margin-small-top grid-container posters">
          <div
            id="ihg-poster"
            class="uk-width-1-2 poster"
            uk-scrollspy="cls:uk-animation-slide-bottom; repeat: false; delay: 35"
          >
            <div>
              <h3>Inter&dash;Hall<br />Games</h3>
              <p>Sports &amp; Recreation</p>
            </div>
            <div class="uk-flex uk-flex-center uk-flex-middle ">
              <p class="uk-text-center message-from-zj">there&apos;d be artwork here but it&apos;s not done yet<br>sorry bout that</p>
            </div>
          </div>
          <div
            id="hocc-poster"
            class="uk-width-1-2 poster"
            uk-scrollspy="cls:uk-animation-slide-bottom; repeat: false; delay: 95"
          >
            <div>
              <h3>Inter&dash;Hall<br />Dance Competition</h3>
              <p>Hall Olympiad Closing Ceremony</p>
            </div>
            <div class="uk-flex uk-flex-center uk-flex-middle ">
              <p class="uk-text-center message-from-zj">there&apos;d be artwork here but it&apos;s not done yet<br>sorry bout that</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>

  <article>
    <section id="sports-teams" class="uk-margin-large-top">
      <div class="uk-container">
        <h2 class="section-heading">Sports Teams</h2>
        <ul class="ho-items sports-items">
          <li id="badminton" class="ho-item sport-item">
            <a href="#" title="Badminton">
              <div class="image-container">
                <div class="caption">Badminton</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="basketball-male" class="ho-item sport-item">
            <a href="#" title="Basketball &#40;Male&#41;">
              <div class="image-container">
                <div class="caption">Basketball &#40;Male&#41;</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="basketball-female" class="ho-item sport-item">
            <a href="#" title="Basketball &#40;Female&#41;">
              <div class="image-container">
                <div class="caption">Basketball &#40;Female&#41;</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="floorball-male" class="ho-item sport-item">
            <a href="#" title="Floorball &#40;Male&#41;">
              <div class="image-container">
                <div class="caption">Floorball &#40;Male&#41;</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="floorball-female" class="ho-item sport-item">
            <a href="#" title="Floorball &#40;Female&#41;">
              <div class="image-container">
                <div class="caption">Floorball &#40;Female&#41;</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="football" class="ho-item sport-item">
            <a href="#" title="Football">
              <div class="image-container">
                <div class="caption">Football</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="frisbee" class="ho-item sport-item">
            <a href="#" title="Frisbee">
              <div class="image-container">
                <div class="caption">Frisbee</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="netball" class="ho-item sport-item">
            <a href="#" title="Netball">
              <div class="image-container">
                <div class="caption">Netball</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="road-relay" class="ho-item sport-item">
            <a href="#" title="Road Relay">
              <div class="image-container">
                <div class="caption">Road Relay</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="sepak-takraw" class="ho-item sport-item">
            <a href="#" title="Sepak Takraw">
              <div class="image-container">
                <div class="caption">Sepak Takraw</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="softball-male" class="ho-item sport-item">
            <a href="#" title="Softball &#40;Male&#41;">
              <div class="image-container">
                <div class="caption">Softball &#40;Male&#41;</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="softball-female" class="ho-item sport-item">
            <a href="#" title="Softball &#40;Female&#41;">
              <div class="image-container">
                <div class="caption">Softball &#40;Female&#41;</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="squash" class="ho-item sport-item">
            <a href="#" title="Squash">
              <div class="image-container">
                <div class="caption">Squash</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="swimming" class="ho-item sport-item">
            <a href="#" title="Squash">
              <div class="image-container">
                <div class="caption">Swimming</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="table-tennis" class="ho-item sport-item">
            <a href="#" title="Table Tennis">
              <div class="image-container">
                <div class="caption">Table Tennis</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="tennis" class="ho-item sport-item">
            <a href="#" title="Tennis">
              <div class="image-container">
                <div class="caption">Tennis</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="touch-rugby" class="ho-item sport-item">
            <a href="#" title="Touch Rugby">
              <div class="image-container">
                <div class="caption">Touch Rugby</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="volleyball-male" class="ho-item sport-item">
            <a href="#" title="Volleyball &#40;Male&#41;">
              <div class="image-container">
                <div class="caption">Volleyball &#40;Male&#41;</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="volleyball-female" class="ho-item sport-item">
            <a href="#" title="Volleyball &#40;Female&#41;">
              <div class="image-container">
                <div class="caption">Volleyball &#40;Female&#41;</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="water-polo" class="ho-item sport-item">
            <a href="#" title="Water Polo">
              <div class="image-container">
                <div class="caption">Water Polo</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </article>

  <article>
    <section id="recreational-teams" class="uk-margin-large-top">
      <div class="uk-container">
        <div class="uk-text-right">
          <h2 class="section-heading">Recreational Teams</h2>
        </div>
        <ul class="ho-items recreational-items">
          <li id="carrom" class="ho-item recreational-item">
            <a href="#" title="Carrom">
              <div class="image-container">
                <div class="caption">Carrom</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="i-chess" class="ho-item recreational-item">
            <a href="#" title="I. Chess">
              <div class="image-container">
                <div class="caption">I. Chess</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="c-chess" class="ho-item recreational-item">
            <a href="#" title="C. Chess">
              <div class="image-container">
                <div class="caption">C. Chess</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="snooker" class="ho-item recreational-item">
            <a href="#" title="Snooker">
              <div class="image-container">
                <div class="caption">Snooker</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="boggle" class="ho-item recreational-item">
            <a href="#" title="Boggle">
              <div class="image-container">
                <div class="caption">Boggle</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="scrabble" class="ho-item recreational-item">
            <a href="#" title="Scrabble">
              <div class="image-container">
                <div class="caption">Scrabble</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="darts" class="ho-item recreational-item">
            <a href="#" title="Darts">
              <div class="image-container">
                <div class="caption">Darts</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="weiqi" class="ho-item recreational-item">
            <a href="#" title="Weiqi">
              <div class="image-container">
                <div class="caption">Weiqi</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>

          <li id="othello" class="ho-item recreational-item">
            <a href="#" title="Othello">
              <div class="image-container">
                <div class="caption">Othello</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </article>

  <article>
    <section id="cultural-groups" class="uk-margin-large-top">
      <div class="uk-container">
        <h2 class="section-heading">Cultural Groups</h2>
        <ul class="ho-items cultural-items">
          <li id="absolut3" class="ho-item cultural-item">
            <a href="#" title="Absolut3">
              <div class="image-container">
                <div class="caption">Absolut3</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>
          <li id="jamband" class="ho-item cultural-item">
            <a href="#" title="Jamband">
              <div class="image-container">
                <div class="caption">Jamband</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>
          <li id="vipers" class="ho-item cultural-item">
            <a href="#" title="Vipers">
              <div class="image-container">
                <div class="caption">Vipers</div>
                <div class="caption-background"></div>
                <div class="image"></div>
                <div class="image-background"></div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </article>