/* NOTE: Vertical accordion styling can be found in a separate file */

/* ─── Hero Section Content Styling ───────────────────────────────────────── */
#about-hero .section-content > *:not(:first-child) {
  margin-top: 20px;
}

/* ─── Facilities Info Section Styling ────────────────────────────────────── */
#facilities-info ul {
  display: flex;
  flex-wrap: wrap;
}

#facilities-info ul li {
  list-style: none;
  background-color: var(--secondary-color);
  padding: 16px;
  font-size: 1.2rem;
  border-radius: 12px;
  max-width: 327px;
  min-width: 250px;
  margin-top: 20px;
}

#facilities-info ul li:not(:last-child) {
  margin-right: 20px;
}

#facilities-info li img {
  height: 60px;
}

#facilities-info li strong {
  font-size: 1.7rem;
  font-weight: 400;
}

#facility-info-items {
  max-width: 849px;
}

/* ─── Brief History Section Stylings ─────────────────────────────────────── */
#brief-history p {
  margin-bottom: 12px;
  text-align: justify;
}

.shadow-image {
  border-radius: 12px;
  filter: drop-shadow(15px 20px #937e34);
}

/* ─── Crest And Logo Section Stylings ────────────────────────────────────── */
#crest-and-logo p {
  margin-bottom: 12px;
  text-align: justify;
}

#crest-and-logo .modern-logo {
  width: 80%;
}

.uk-slidenav {
  color: var(--dark-color);
}

.uk-slidenav:hover {
  color: var(--lighter-dark-color);
}

.uk-dotnav > * > * {
  border-color: var(--dark-color);
}

.uk-dotnav > .uk-active > * {
  background-color: var(--dark-color);
}

/* Tablet Stylings */
@media (max-width: 960px) {
  /* ─── Facilities Accordion Tablet Stylings ───────────────────────── */
  .faq-accordion-header {
    background: var(--secondary-color) !important;
    color: var(--dark-color) !important;
  }

  .faq-accordion-header h3 {
    color: var(--dark-color) !important;
  }

  .faq-accordion-body {
    background: #dbd6b1 !important;
    color: var(--dark-color) !important;
  }

  .faq-accordion a {
    color: var(--hall-3-blue) !important;
  }
}

/* Mobile stylings */
@media (max-width: 640px) {
  /* ─── Facilities Brief Mobile Stylings ──────────────────────────── */
  #facilities-info ul li {
    width: 280px;
  }

  #facilities-info ul li:not(:last-child) {
    margin-right: 0;
  }

  #facility-info-items {
    padding: 0;
  }
}
