:root {
  /* TODO: In the tablet/mobile views, use calc to make the responsive sizes for the committee items */
  --ho-item-image-width: 264px;
  --ho-item-image-height: 277px;
  --poster-image-width: 588px;
  --poster-image-height: 640px;
}

.message-from-zj {
  text-transform: lowercase !important;
  color: #4d4d4d;
}

/* ─── Ho Item Card Component Stylings ────────────────────────────────────── */
ul.ho-items {
  list-style: none;
}

.ho-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ho-item {
  margin-top: 36px;
  margin-right: 28px;
}

.ho-item a {
  width: 100%;
  height: 100%;
}

.ho-item .image-container {
  position: relative;
  width: var(--ho-item-image-width);
  height: var(--ho-item-image-height);
  transform: skew(-5deg);
}

.ho-item .image-container:hover {
  cursor: pointer;
}

/* Hover animation behavior for a hall olympiad item */
.ho-item .image-container:hover .caption,
.ho-item .image-container:hover .caption-background,
.ho-item .image-container:hover .image {
  transform: translate(6px, 11px);
}

.ho-item .image-container:hover .caption {
  transform: translate(6px, 11px) skew(5deg); /* So that the caption doesn't get skewed upon hover */
}

.ho-item .caption,
.ho-item .caption-background,
.ho-item .image {
  transition: transform 0.18s ease-in-out;
}

.ho-item .image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  background-color: gray; /* NOTE: This line is for debugging to see where the image background would be project on, you can remove it before deploying */
}

.ho-item .image::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 100%;
  transform: skew(5deg);
  right: -18px;
}

.ho-item .image-background {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform: translate(15px, 20px);
  z-index: -1;
}

.ho-item .caption {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 900;
  padding: 5px 14px;
  border-radius: 0 0 14px 0;
  transform: skew(5deg);
  z-index: 4;
}

.ho-item .caption-background {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 12%;
  border-radius: 0 0 14px 0;
  z-index: 3;
}

.ho-item .image::before {
  background-position: center;
  background-size: cover;
}

/* ─── Hall Olympiad Hero Section Styling ─────────────────────────────────── */
#hall-olympiad-hero p {
  text-align: justify;
}

.posters {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 24px;
}

.poster {
  width: var(--poster-image-width);
  height: var(--poster-image-height);
  background-color: gray;
}

.poster div {
  padding: 20px 20px;
}

.poster h3,
.poster p {
  text-transform: uppercase;
}

.poster h3 {
  line-height: 28px;
  font-weight: 800;
}

.poster p {
  font-weight: bold;
  margin-top: 8px;
}

/* ─── Sports Teams Section Styling ───────────────────────────────────────── */
.sport-item .caption-background {
  background: linear-gradient(45deg, #00c1aa, #4375d9);
}

.sport-item .image-background {
  background: linear-gradient(45deg, #00c1aa, #4375d9);
}

#basketball-female .caption,
#volleyball-female .caption {
  font-size: 15px;
}

/* Sport item images or specific individual stylings */
#badminton .image::before {
  background-image: url(../images/hall-olympiad/sports/badminton/thumbnail.JPG);
}

#basketball-male .image::before {
  background-image: url(../images/hall-olympiad/sports/basketball-male/thumbnail.JPG);
}

#basketball-female .image::before {
  background-image: url(../images/hall-olympiad/sports/basketball-female/thumbnail.jpg);
}

#floorball-male .image::before {
  background-image: url(../images/hall-olympiad/sports/floorball-male/thumbnail.jpg);
}

#floorball-female .image::before {
  background-image: url(../images/hall-olympiad/sports/floorball-female/thumbnail.JPG);
}

#football .image::before {
  background-image: url(../images/hall-olympiad/sports/football/thumbnail.JPG);
}

#frisbee .image::before {
  background-image: url(../images/hall-olympiad/sports/frisbee/thumbnail.jpg);
}

#netball .image::before {
  background-image: url(../images/hall-olympiad/sports/netball/thumbnail.JPG);
}

#road-relay .image::before {
  background-image: url(../images/hall-olympiad/sports/road-relay/thumbnail.jpg);
}

#sepak-takraw .image::before {
  background-image: url(../images/hall-olympiad/sports/sepak-takraw/thumbnail.jpg);
}

#softball-male .image::before {
  background-image: url(../images/hall-olympiad/sports/softball-male/thumbnail.jpg);
}

#softball-female .image::before {
  background-image: url(../images/hall-olympiad/sports/softball-female/thumbnail.JPG);
}

#squash .image::before {
  background-image: url(../images/hall-olympiad/sports/squash/thumbnail.jpg);
}

#swimming .image::before {
  background-image: url(../images/hall-olympiad/sports/swimming/thumbnail.JPG);
}

#table-tennis .image::before {
  background-image: url(../images/hall-olympiad/sports/table-tennis/thumbnail.JPG);
}

#tennis .image::before {
  background-image: url(../images/hall-olympiad/sports/tennis/thumbnail.JPG);
}

#track .image::before {
  background-image: url(../images/hall-olympiad/sports/track/thumbnail.jpg);
}

#touch-rugby .image::before {
  background-image: url(../images/hall-olympiad/sports/touch-rugby/thumbnail.JPG);
}

#volleyball-male .image::before {
  background-image: url(../images/hall-olympiad/sports/volleyball-male/thumbnail.JPG);
}

#volleyball-female .image::before {
  background-image: url(../images/hall-olympiad/sports/volleyball-female/thumbnail.JPG);
}

#water-polo .image::before {
  background-image: url(../images/hall-olympiad/sports/water-polo/thumbnail.jpg);
}

/* Recreational Teams Section Styling */
.recreational-item .caption-background {
  background: linear-gradient(45deg, #7b824e, #384001);
}

.recreational-item .image-background {
  background: linear-gradient(45deg, #7b824e, #384001);
}

/* ─── Recreational Item Images Or Specific Individual Stylings ───────────── */
#carrom .image::before {
  background-image: url(../images/hall-olympiad/recreational/carrom/thumbnail.JPG);
}

#i-chess .image::before {
  background-image: url(../images/hall-olympiad/recreational/i-chess/thumbnail.JPG);
}

#c-chess .image::before {
  background-image: url(../images/hall-olympiad/recreational/c-chess/thumbnail.JPG);
}

#snooker .image::before {
  background-image: url(../images/hall-olympiad/recreational/snooker/thumbnail.JPG);
}

#boggle .image::before {
  background-image: url(../images/hall-olympiad/recreational/boggle/thumbnail.JPG);
}

#scrabble .image::before {
  background-image: url(../images/hall-olympiad/recreational/scrabble/thumbnail.JPG);
}

#darts .image::before {
  background-image: url(../images/hall-olympiad/recreational/darts/thumbnail.JPG);
}

#weiqi .image::before {
  background-image: url(../images/hall-olympiad/recreational/weiqi/thumbnail.JPG);
}

#othello .image::before {
  background-image: url(../images/hall-olympiad/recreational/othello/thumbnail.JPG);
}

/* ─── Cultural Teams Section Styling ─────────────────────────────────────── */
.cultural-item .caption-background {
  background: linear-gradient(45deg, #c1005d, #d94343);
}

.cultural-item .image-background {
  background: linear-gradient(45deg, #c1005d, #d94343);
}

/* ─── Cultural Item Images Or Specific Individual Stylings ───────────────── */
#absolut3 .image::before {
  background-image: url(../images/hall-olympiad/cultural/absolut3/thumbnail.jpg);
}

#jamband .image::before {
  background-image: url(../images/hall-olympiad/cultural/jamband/thumbnail.jpg);
}

#vipers .image::before {
  background-image: url(../images/hall-olympiad/cultural/vipers/thumbnail.jpg);
}

/* Tablet Stylings */
@media (max-width: 960px) {
  .poster {
    width: calc(var(--poster-image-width) / 1.7);
    height: calc(var(--poster-image-height) / 1.7);
  }
}

/* Mobile Stylings */
@media (max-width: 640px) {
  .posters {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
