<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The official website for Hall of Residence 3, Nanyang Technologcial University, Singapore. Get to know about Hall 3 and our various committees, sports teams, recreational teams and cultural groups!">
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}


    <script src="{{ "js/navbar.js" | relURL }}"></script>
    <!-- Conditionally include page-specific JS -->
    {{ with .Params.js }}
      {{ range . }}
        <script src="{{ . | relURL }}"></script>
      {{ end }}
    {{ end }}
  </body>
</html>
